@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Parts Inc&trade;</h1>
    <p class="lead">We are the leading provider of Widgets, Foo, Bar, and FUBAR in the Tri-County area.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ordering Information</h2>
        <p>
            Gallia est omnis divisa in partes tres, quarum unam incolunt Belgae,
            aliam Aquitani, tertiam qui ipsorum lingua Celtae, nostra Galli appellantur.
            Hi omnes lingua, institutis, legibus inter se differunt. Gallos ab Aquitanis
            Garumna flumen, a Belgis Matrona et Sequana dividit.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Commitment to Excellence</h2>
        <p>
            Annos undeviginti natus exercitum privato consilio et privata impensa comparavi,
            per quem rem publicam a dominatione factionis oppressam in libertatem vindicavi.
            [Ob quae] senatus decretis honorificis in ordinem suum me adlegit, C. Pansa et A. Hirtio consulibus,
            consularem locum sententiae dicendae tribuens, et imperium mihi dedit.
        </p>
    </div>
    <div class="col-md-4">
        <h2>You get the Picture</h2>
        <p>
            Arma virumque cano, Troiae qui primus ab oris
            Italiam, fato profugus, Laviniaque venit
            litora, multum ille et terris iactatus et alto
            vi superum saevae memorem Iunonis ob iram;
            multa quoque et bello passus, dum conderet urbem,
            inferretque deos Latio, genus unde Latinum,
            Albanique patres, atque altae moenia Romae.
        </p>
    </div>
</div>